@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root {
    --cor01: #f1f1f1;
    --cor02: #00fd94;
    --cor03: #376f6c;
    --cor04: #1e3231;
    --cor05: #090909;

    --cor06: #00cafd;
    --cor07: #ffffff;
    --cor08: #ff3c3c;

    --font01: "Poppins", sans-serif;
    --font02: "Vidaloka", serif;

    --shadow: 4px 2px 8px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font01);
}

body {
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
}


/* Define o estilo para toda a barra de rolagem */
#rev_alvaliacao::-webkit-scrollbar {
    width: 8px;
    box-shadow: var(--shadow);
}
        
/* Define o estilo para o "track", a área de fundo */
#rev_alvaliacao::-webkit-scrollbar-track {
    background: none; 
    border-radius: 10px;
    padding: 5px 0;
}
        
    /* Define o estilo para o "thumb", a área que pode ser arrastada */
#rev_alvaliacao::-webkit-scrollbar-thumb {
    background: var(--cor02);
    border-radius: 10px;
}


#rev_alvaliacao {
    width: 60vw;

    overflow-y: scroll;

    background: var(--cor03);
    padding: 25px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    position: relative;

    #titulo {
        width: 100%;

        font-size: 1.125rem;

        background: var(--cor01);
        padding: 10px 20px;

        border-radius: 10px;
        box-shadow: var(--shadow);
        
        span {
            font-weight: bold;
        }
    }

    .pergunta {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p:first-child {
            color: var(--cor01);
            padding: 0 10px;
        }

        p:last-child {
            background: var(--cor01);
            padding: 5px 20px;
            border-radius: 10px;

            span {
                font-weight: bold;
            }
        }
    }   
}

