@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root {
    --cor01: #f1f1f1;
    --cor02: #00fd94;
    --cor03: #376f6c;
    --cor04: #1e3231;
    --cor05: #090909;

    --cor06: #00cafd;
    --cor07: #ffffff;
    --cor08: #ff3c3c;

    --font01: "Poppins", sans-serif;
    --font02: "Vidaloka", serif;

    --shadow: 4px 2px 8px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font01);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background: var(--cor01);
    
    header, 
    main,
    footer {
        width: 90vw;
        margin: auto;
    }
    
    header,
    footer {
        height: 10vh;
        position: absolute;
    }
    
    header {
        top: 5vh;
    }
    
    footer {
        bottom: 5vh;
    }
    
    main {
        height: 60vh;
    }
}

/* --------- LOGIN --------- */

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        box-shadow: var(--shadow);
        background: var(--cor07);

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30px;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    #dados {
        
        width: 60vw;
        display: flex;
        flex-direction: column;
        gap: 25px;

        background: var(--cor03);
        box-shadow: var(--shadow);
        border-radius: 25px;
        padding: 100px 40px 40px 40px;

        position: relative;

        #aside_perfil {
            width: 150px;
            height: 150px;
            border-radius: 50%;
    
            display: flex;
            justify-content: center;
            align-items: center;
            
            background: var(--cor07);
            
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            
            img {
                width: 80px;
            }
        }

        .infos {
            width: 100%;
    
            display: flex;
            align-items: center;

            position: relative;

            img {
                width: 15px;

                position: absolute;
                left: 10px;
            }

            p {
                width: 100%;
                padding: 10px 10px 10px 30px;

                border-radius: 5px;
                border: none;
                box-shadow: var(--shadow);

                background: var(--cor07);
            }
        }

        #logout {
            width: 100px;
            padding: 8px 16px;
            border-radius: 0 0 10px 10px;
            border: none;
            box-shadow: var(--shadow);
    
            background: var(--cor08);
            color: var(--cor05);
    
            font-weight: bold;
    
            cursor: pointer;
    
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }
}