{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/registration/loginregistro.css' %}">
    <title>IF SADD - Ínicio</title>

</head>

<body>
    <main>
        <aside id="perfil">
            <img src="{% static 'assets/perfil.svg' %}" draggable="false" alt="perfil-ico">
        </aside>

        {% if form.errors %}
        <div class="login-error">
            <p><strong>Nome de usuário ou senha incorretos.</strong></p>
            <p>Por favor, tente novamente.</p>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label for="id_username">
                <img src="{% static 'assets/perfil.svg' %}" draggable="false" alt="perfil-ico" class="icon">
                <input type="text" placeholder="Username (por enquanto)" name="username" id="id_username"
                    autocomplete="username" required>
            </label>
            <label for="password">
                <img src="{% static 'assets/eye.svg' %}" draggable="false" class="icon" alt="pass-ico">
                <input type="password" placeholder="Senha" name="password" id="id_password"
                    autocomplete="current-password" required>
            </label>
            
            <button type="submit" id="btn-login" style="bottom: -16%;">Login</button>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </main>

    <footer>
        <p>
            Primeiro Login? Então faça seu <a href="{% url 'registro' %}">cadastro</a>!
        </p>
    </footer>

    <div class="background">
        <img src="{% static 'assets/back_left.svg' %}" draggable="false" alt="back_left" class="back_lines">
        <img src="{% static 'assets/back_right.svg' %}" draggable="false" alt="back_left" class="back_lines">
    </div>

    <script>
        let button = document.getElementById("btn-login");

        button.addEventListener("click", () => {
            window.location.href = "pages/inicial.html";
        })
    </script>

</body>

</html>



