@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root {
    --cor01: #f0f0f0;
    --cor02: #00fd94;
    --cor03: #376f6c;
    --cor04: #1e3231;
    --cor05: #090909;

    --cos06: #00cafd;

    --font01: "Poppins", sans-serif;
    --font02: "Vidaloka", serif;

    --shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--cor01);

    position: relative;
}

header {
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 0;
}

header #perfil {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    background: var(--cor01);
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.2s, height 0.2s;
}

header #perfil img {
    width: 60%;
}


main {
    width: calc(100% - 100px);
    margin: 50px;
}

main h1 {
    font-family: var(--font02);
    font-weight: 400;
    text-shadow: var(--shadow);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    font-size: 2.25rem;
}

main #opcoes {
    width: 40vw;
    margin: auto;
    font-family: var(--font01);
    background: var(--cor03);
    padding: 25px;
    border-radius: 25px;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main #opcoes h2 {
    color: var(--cor01);
    font-size: 1.25rem;
}

main #opcoes button {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor03);
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;

}

main #opcoes button:hover {
    outline: 2px solid var(--cor01);
}

main #opcoes button:active {
    background: var(--cor06);
    color: var(--cor01);
}

/* Para hover do perfil somente em telas grandes */
@media (min-width: 600px) {

    header #perfil:hover {
        width: 71px;
        height: 71px;
    }
    
    header #perfil:active {
        width: 69px;
        height: 69px;
    }
}

@media (max-width: 880px) {
    main #opcoes {
        width: 65vw;
    }
}

@media (max-width: 600px) {
    header {
        width: 90%;
        margin: 50px auto;
    }

    header #perfil {
        width: 50px;
        height: 50px;
    }
    
    main {
        width: 90%;
        margin: 0px;
    }
    
    main h1 {
        font-size: 1.625rem;
    }

    main #opcoes {
        width: 80vw;
    }
}

@media (max-width: 400px) {
    main #opcoes {
        width: 90vw;
        padding: 15px;
    }
}